# 1. loading building rules
include build.config

# 2. src files
MODULE_SRC_DIR := .

# 3. include files
MODULE_INCLUDE_DIR := 
MODULE_INCLUDE_DIR += \
		-I$(LFP_ROOT_PATH)/lfp_include/	\
		-I$(LFP_ROOT_PATH)/lfp_include/lfp_util/	\
		-I$(LFP_ROOT_PATH)/lfp_include/lfp_app_base/lfp_libs/	\
		-I$(LFP_ROOT_PATH)/lfp_include/lfp_app_base/lfp_libs/lfp_dlist/

# 4. sub module dirs(opt)
MODULE_SUB_DIRS := 

# 5. building deps
MODULE_DEPS_DIR := $(LFP_OBJ_PATH)
MODULE_DEPS_LIBS := 
MODULE_DEPS_LIBS += -llfp_util

# 6. building target describe(now : .a, .so, .exe)
TARGET_NAME := lfp_app_base
TARGET_TYPE := .so
