LFP_ROOT_PATH = $(firstword $(subst lfp_tech_advance,lfp_tech_advance ,$(shell pwd)))
# 1. loading building rules
include $(LFP_ROOT_PATH)/lfp_rules.make

# 2. src files
MODULE_SRC_DIR := $(shell pwd)/src

# 3. include files
MODULE_INCLUDE_DIR := 
MODULE_INCLUDE_DIR += \
				-I$(LFP_ROOT_PATH)/lfp_include/lfp_util/	\
				-I$(LFP_ROOT_PATH)/lfp_include/				\
				-I$(LFP_ROOT_PATH)/lfp_include/lfp_app_base/lfp_busybox/	\

# 4. sub module dirs(opt)
MODULE_SUB_DIRS := 

# 5. building deps
MODULE_DEPS_DIR := $(LFP_OBJ_PATH)
MODULE_DEPS_LIBS := 
MODULE_DEPS_LIBS += -llfp_util

# 6. building target describe(now : .a, .so, .exe)
TARGET_NAME := lfp_busybox
TARGET_TYPE := .so
